footer section {
    padding-block: 45px;
    background-color: #1E1D1D;
}

footer .text {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 300;
}

.info .text {
    margin-top: 23px;
    max-width: 33ch;
}

.footer-main .contact,
.footer-main .information,
.footer-main .links,
.footer-main .social-media {
    display: flex;
    flex-direction: column;
}

footer .footer-main .social-media .links {
    flex-direction: row;
}

.instagram::before {
    content: url("../../assets/img/instagram.svg");
    display: inline-block;
    margin-right: 8px;
}

.linkedin::before {
    content: url("../../assets/img/linkedin.svg");
    display: inline-block;
    margin-right: 8px;
}

footer .contact p,
footer .information p,
footer a {
    color: var(--color-white);
    font-size: 12px;
    font-weight: 400;
    line-height: 190%;
    transition: filter 0.3s ease-out;
}

footer a:hover {
    filter: brightness(80%);
}

.copyright {
    color: var(--color-white);
    font-size: 12px;
    font-weight: 400;

    margin-top: 60px;
}

footer section .title {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 190%;
}

.footer-main {
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-main > div {
    width: calc(25% - 55px);
}

footer a:hover {
    color: var(--light-blue-mist);
}

@media (max-width: 1440px) {

}

@media (max-width: 1024px) {
    .footer-main > div {
        width: calc(50% - 55px);
    }

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

    .footer-main > div {
        width: 100%;
    }
}