/* PEOPLE */
.people-section {
    padding-top: 60px;
}
.people-section .title {
    margin-bottom: 70px;
}

.people {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.person {
    display: flex;
    flex-direction: column;
    width: 100%;

    background: var(--light-blue-mist);
    box-shadow: 0 12px 24px 0 rgba(74, 82, 105, 0.25);

    /*padding: 35px 39px;*/
    padding: clamp(1.063rem, 1.607vw + 0.741rem, 2.188rem) clamp(1.25rem, 1.696vw + 0.911rem, 2.438rem);

    /*font-size: 18px;*/
    font-size: calc(clamp(1rem, 0.179vw + 0.964rem, 1.125rem));
    font-weight: 400;
}

.person-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
}

.person .person-image {
    margin-inline: auto;
    margin-bottom: 25px;
}

.person h3 {
    text-transform: uppercase;

    color: var(--color-black);

    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 10px;
}

.person .description {
    color: var(--color-black);
    margin-bottom: 35px;

    text-align: center;
    /*font-size: 18px;*/
    font-size: calc(clamp(1rem, 0.179vw + 0.964rem, 1.125rem));
    font-weight: 400;
    line-height: normal;
}

.person .about {
    padding-top: 25px;


    border-top: 1px solid;
    border-image: linear-gradient(
            270deg,
            var(--light-blue-mist) 0%,
            #347AD9 18.5%,
            #252525 50.5%,
            #347AD9 80%,
            var(--light-blue-mist) 100%
    ) 1 100%;
    border-image-slice: 1;
}

.achievements {
    margin-top: auto;
    height: min-content;
    /*padding-bottom: 39px;*/
    padding-bottom: clamp(1.25rem, 1.696vw + 0.911rem, 2.438rem);
    /*padding-top: 39px;*/
    padding-top: clamp(1.25rem, 1.696vw + 0.911rem, 2.438rem);
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;

    color: var(--color-black);
    text-align: center;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1440px) {

}

@media (max-width: 1024px) {
    .people {
        flex-direction: column;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 640px) {
}